$third: #f5db13;
$primary: #f2b807;
$second: #f28f16;
$danger: #d93e30;
$white: #f2f2f2;
$dark: #212121;

$bug: #a8b820;
$dragon: #7038f8;
$ghost: #705898;
$grass: #78c850;
$ground: #e0c068;
$electric: #f8d030;
$ice: #98d8d8;
$fairy: #ee99ac;
$fighting: #c03028;
$fire: #f08030;
$flying: #a890f0;
$normal: #a8a878;
$poison: #a040a0;
$psychic: #f85888;
$rock: #b8a038;
$water: #6890f0;

$headerHeight: 93px;
