.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mock {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.mockPic {
  width: 200px;
}
