@import '../../BaseStyles/variables';

.root {
  min-height: calc(100vh - #{$headerHeight});
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mock {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.mockPic {
  width: 200px;
}
