.navigationItem {
  &:not(:last-child) {
    margin-right: 60px;
  }

  @media screen and (max-width: 860px) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.navigationLink {
  display: inline-block;
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;
  font-size: 1.5rem;
  color: #212121;
  text-decoration: none;

  &:hover {
    border-color: #212121;
  }

  @media screen and (max-width: 860px) {
    font-size: 1.18rem;
  }
}
