@import '../../BaseStyles/variables';
.root {
  min-height: 100vh;
  background: #fff;
}

.contentWrap {
  padding: 65px 0 25px;
}

.heading {
  text-align: center;
}

.pokemonCardsWrap {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 351px);
  grid-gap: 45px 35px;
  justify-content: center;
}