@import '../../BaseStyles/variables';

.root {
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  background: url('../../Images/teamRocket.png') no-repeat 50% 30%, $danger url('../../Images/404.png') no-repeat 50% 30%;
}

.notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 48px;
  color: #f2f2f2;
}

.noticeText {
  margin-bottom: 30px;
}

.blackNotice {
  color: #000;
}
