@import '../../variables';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 1125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slogan {
  font-weight: 700;
  font-size: 18px;
  color: $dark;
}

.copyright {
  font-weight: 700;
  font-size: 18px;
  color: $dark;
}
