<<<<<<< Updated upstream
@import '../../variables';
=======
@import '../../BaseStyles/variables';

>>>>>>> Stashed changes
.root {
  height: calc(100vh - #{$headerHeight});
  display: flex;
  flex-direction: column;
<<<<<<< Updated upstream
  background: linear-gradient(180deg, $third 0%, $primary 100%);
=======
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
  overflow-x: hidden;
>>>>>>> Stashed changes
}

.contentWrap {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

.contentText {
  width: 515px;
}

.heading {
  font-weight: 400;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
}

.description {
  margin: 60px 0;
  font-size: 32px;
  line-height: 37px;
}
